# АККАУНТЫ
LOGIN_1=email1@mail.ru
PASS_1=password1
LOGIN_2=email2@mail.ru
PASS_2=password2
LOGIN_3=email3@mail.ru
PASS_3=password3
LOGIN_4=email4@mail.ru
PASS_4=password4
LOGIN_5=email5@mail.ru
PASS_5=password5

# НАСТРОЙКИ
HEADLESS_MODE=false
PROXY_ENABLED=false
PROXY_LIST=proxy1.com:8080,proxy2.com:8080
LOG_LEVEL=INFO
DB_PATH=./storage/bot.db
WARMUP_DURATION_MIN=3600
WARMUP_DURATION_MAX=7200

# API
FLASK_HOST=127.0.0.1
FLASK_PORT=5000
FLASK_DEBUG=true

# УВЕДОМЛЕНИЯ
TELEGRAM_TOKEN=your_token
TELEGRAM_CHAT_ID=your_chat_id